<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Coronavirus Tracker Application</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<h2>Coronavirus Tracker Application</h2>
<div class="jumbotron">
    <h3 id="date"></h3>
    <script>document.getElementById("date").innerHTML = Date();</script>
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
    <p class="lead">Total number of cases as of today.</p>
    <p id="date"></p>
    <script>document.getElementById("date").innerHTML = Date();</script>
    <hr class="my-4">
    <h1 class="display-4" th:text="${previousReportCases}"></h1>
    <p class="lead">Total number of cases yesterday.</p>
    <hr class="my-4">
    <h1 class="display-4" th:text="${totalReportedDeaths}"></h1>
    <p class="lead">Total number of deaths to date.</p>

</div>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>State</th>
        <th>Country</th>
        <th>Number of Reported Cases</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="locationStat: ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>